<aside class="w-full md:w-64 bg-white p-4 rounded-xl shadow-md border-t-4 border-brandBlue flex flex-col justify-between shrink-0">
    <div>
        <span class="text-xs font-bold text-slate-400 uppercase tracking-wider block mb-3 px-2">Módulos</span>
        <nav class="space-y-1.5">
            <button id="navConvert" class="w-full flex items-center space-x-3 px-3 py-2.5 rounded-lg bg-brandBlue text-white font-semibold text-sm shadow-sm transition">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7h12m0 0l-4-4m4 4l-4 4m0 6H4m0 0l4 4m-4-4l4-4"></path></svg>
                <span>Conversor de Bases</span>
            </button>
            <button id="navOps" class="w-full flex items-center space-x-3 px-3 py-2.5 rounded-lg text-slate-600 hover:bg-slate-100 font-medium text-sm transition">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 7h6m0 10v-3m-3 3h.01M9 17h.01M9 14h.01M12 14h.01M15 11h.01M12 11h.01M9 11h.01M7 21h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2v14a2 2 0 002 2z"></path></svg>
                <span>Operaciones</span>
            </button>
        </nav>
    </div>
</aside>